{
  "extends": ["plugin:prettier/recommended"],
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error", { "singleQuote": true }]
  }
}
