/* App.css */

.lead {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.025em;
}


/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .display-2 {
    font-size: 5rem;
  }
  .lead {
    font-size: 1.25rem;
    letter-spacing: 0.025em;
    margin-bottom: 2rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .display-2 {
    font-size: 6rem;
  }
  .lead {
    font-size: 1.35rem;
    letter-spacing: 0.025em;
    margin-bottom: 2.5rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}


/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .display-2 {
    font-size: 4rem;
  }
  .lead {
    font-size: 1.125rem;
    letter-spacing: 0.035em;
    margin-bottom: 1.5rem;
  }
}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {}

/* Extra large devices (large desktops)*/
/* No media query since the extra-large breakpoint has no upper bound on its width */